@use '../stylesheets/layout.scss';
@use '../stylesheets/typography.scss';

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: layout.space(79);
  justify-items: center;
  align-items: center;
  margin-bottom: layout.space(30);

  @media only screen and (max-width: 850px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: layout.space(massive);
    margin: 0 layout.space(large) layout.space(30) layout.space(large);
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: layout.space(medium);
  margin-bottom: layout.space(30);

  @media only screen and (max-width: 850px) {
    margin: layout.space(large);
  }
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: layout.space(medium);
}

.source {
  @include typography.font(small);

  > i {
    @include typography.font(tiny);
  }
}

.img {
  width: layout.space(87.5);
}