@use '../stylesheets/colours.scss';
@use '../stylesheets/typography.scss';
@use '../stylesheets/layout.scss';
@use '../stylesheets/borders.scss';

.icon {
  width: layout.space(22);
}

.title {
  @include typography.font(regular, typography.$header-font, regular, semi-bold);
}

.center {
  text-align: center;
}

.source, .tiny {
  @include typography.font(tiny);
  line-height: layout.space(medium);
}
