@use '../stylesheets/colours.scss';
@use '../stylesheets/typography.scss';
@use '../stylesheets/layout.scss';
@use '../stylesheets/borders.scss';

.icon {
  width: layout.space(22);
}

.title {
  @include typography.font(regular, typography.$header-font, regular, semi-bold);
}

.video {
  max-width: 812px;
}

.center {
  text-align: center;
}

.fullWidth {
  width: 100%;
}

.poster {
  width: 100%;
  transition: transform 0.5s;
  cursor: pointer;

  &.modal {
    cursor: none;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.source, .tiny {
  @include typography.font(tiny);
  line-height: layout.space(medium);
}

.accordionTitle {
  @include typography.font(regular, typography.$main-font, regular, semi-bold);
  margin: layout.space(extra-large) 0 layout.space(medium-large);
}

.accordionParagraph {
  @include typography.font(small);
  line-height: 1.5em;
  margin-bottom: layout.space(large);
}

.accordionSource {
  @include typography.font(tiny);
}
