@use '../stylesheets/colours.scss';
@use '../stylesheets/typography.scss';
@use '../stylesheets/layout.scss';
@use '../stylesheets/borders.scss';

@import './LearnMorePage.module.scss';

.intro {
  margin: layout.space(large) 0;
}

.list {
  composes: list;

  & li::before {
    color: colours.colour(green);
  }
}

.listItem {
  composes: listItem;
}

.content {
  display: flex;
  flex-direction: column;

  & img {
    max-width: 100%;
    margin-top: layout.space(medium);
  }

  @include layout.large {
    flex-direction: row;

    & img {
      max-width: 50%;
      margin-top: initial;
      margin-left: layout.space(small);
    }
  }
}

.image {
  max-width: 100%;
}

.tiny {
  @include typography.font(tiny);
  line-height: layout.space(medium);
}

.title {
  text-decoration: underline;
  text-decoration-color: colours.colour(green);
}

.row {
  @include typography.font(minuscule);
  display: flex;
  justify-content: space-around;
  width: 100%;

  &.memory {
    & div {
      display: flex;
      width: layout.space(medium);
      height: layout.space(20);
      justify-content: center;
      align-items: center;
      text-align: center;

      &:nth-child(odd) {
        width: layout.space(21);
        background: colours.colour(peach);

        @include layout.phone {
          width: layout.space(30);
        }

        @include layout.tablet {
          width: layout.space(40);
        }
      }

      @include layout.phone {
        width: layout.space(extra-large);
        height: layout.space(30);
      }

      @include layout.large {
        height: layout.space(20);
      }
    }

    @include layout.smallScreen {
      @include typography.font(tiny);
    }
  
    @include layout.phone {
      @include typography.font(small);
    }
  
    @include layout.tablet {
      @include typography.font(regular);
    }
  }
  
  &.formation {
    & div {
      &:nth-child(odd) {
        background: colours.colour(green);

        @include layout.large {
          width: layout.space(50);
          height: layout.space(30);
        }
      }
    }

    @include layout.smallScreen {
      @include typography.font(minuscule);
    }

    @include layout.phone {
      @include typography.font(tiny);
    }

    @include layout.tablet {
      @include typography.font(small);
    }

    @include layout.large {
      @include typography.font(regular);
    }
  }
}

.grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  gap: layout.space(medium);

  &.table {
    display: table;
    gap: initial;
    border-collapse: collapse;

    & .tableRow {
      display: table-row;

      & div {
        display: table-cell;
        border: borders.$green-border;
        padding: layout.space(tiny);

        @include layout.smallScreen {
          padding: layout.space(small);
        }

        @include layout.phone {
          padding: layout.space(medium);
        }
      }
    }
  }
}

.coding {
  @include typography.font(minuscule);
  display: flex;
  justify-content: center;
  gap: layout.space(tiny);

  & div {
    & div {
      padding: layout.space(small);
      background: colours.colour(yellow);

      &:not(:last-child) {
        margin-bottom: layout.space(tiny);
      }

      &.right {
        text-align: right;
      }
    }
  }

  @include layout.smallScreen {
    @include typography.font(tiny);
  }

  @include layout.phone {
    @include typography.font(small);
    gap: layout.space(small-medium);

    & div {
      & div {
        padding: layout.space(small-medium);
  
        &:not(:last-child) {
          margin-bottom: layout.space(small-medium);
        }
      }
    }
  }

  @include layout.tablet {
    @include typography.font(regular);
    gap: layout.space(medium);

    & div {
      & div {
        padding: layout.space(medium) layout.space(medium-large);
  
        &:not(:last-child) {
          margin-bottom: layout.space(medium);
        }
      }
    }
  }
}

.green {
  background: colours.colour(green);
  padding: layout.space(medium);

  & div:last-child {
    text-align: right;
  }
}

.strong {
  font-weight: typography.font-weight(semi-bold);
}

.center {
  margin: auto;
}

.forgettingContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .image {
    max-width: 90%;
    margin-bottom: layout.space(small);

    @include layout.large {
      max-width: 75%;
    }
  }

  &.reactivate {
    gap: layout.space(large);

    & .synapse {
      max-width: 75%;

      @include layout.phone {
        max-width: 50%;
      }
    }
  }
}
