@use './colours.scss';

$default-border-width: 3px;

$default-border: $default-border-width solid colours.colour(yellow);
$peach-border: $default-border-width solid colours.colour(peach);
$blue-border: $default-border-width solid colours.colour(blue);