@use 'sass:map';

$base-grid-unit-value: 4px;
$max-width: 1280px;

$small-screen: 350px;
$phone: 500px;
$tablet: 768px;
$large: 1024px;
$desktop: 1280px;

$space: (
  tiny: 1,
  small: 2,
  small-medium: 3,
  medium: 4,
  medium-large: 6,
  large: 8,
  extra-large: 10,
  huge: 16,
  massive: 18,
);

@mixin smallScreen {
  @media only screen and (min-width: $small-screen) {
    @content;
  }
}

@mixin phone {
  @media only screen and (min-width: $phone) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: $tablet) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: $large) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $desktop) {
    @content;
  }
}

@function space($value) {
  @if map.has-key($space, $value) {
    @return map.get($space, $value) * $base-grid-unit-value;
  }

  @return $value * $base-grid-unit-value;
}

@function space-with-border($value, $border) {
  @if map.has-key($space, $value) {
    @return map.get($space, $value) * $base-grid-unit-value - $border;
  }

  @return $value * $base-grid-unit-value - $border;
}