@use './colours.scss';
@use './layout.scss';
@import './typography.scss';

html, body, ul, ol {
  margin: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  @include font(regular, $family: font);

  color: colours.colour(black);
}

a {
  color: inherit;

  &, &:hover, &:focus {
    text-decoration: none;
  }
}

ul, ol {
  ul, ol {
    padding: 0;
  }
}

p {
  margin: 0 0 layout.space(small-medium);;
}