@use '../stylesheets/colours.scss';
@use '../stylesheets/typography.scss';
@use '../stylesheets/layout.scss';


.container {
  @include typography.font(small);
}

.item {
  display: flex;
  width: max-content;
  align-items: center;
  gap: layout.space(small-medium);
  cursor: pointer;
}

.icon {
  @include typography.font(regular);
}

.label {
  @include typography.font(regular);
  font-weight: typography.font-weight(bold);
}

.collapsedDiv {
  max-height: 100%;
  transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out, max-height 0.4s ease-in-out;
  margin-top: layout.space(small);
}

.collapsed {
  max-height: 0;
  opacity: 0;
  animation-delay: 3s;
  visibility: hidden;
  animation: slide 0.4s forwards;
}

@keyframes slide {
  0% { transform: translateY(0%); opacity: 1; }
  100% { transform: translateY(-15%); opacity: 0; }
}
