@use '../stylesheets/colours.scss';
@use '../stylesheets/typography.scss';
@use '../stylesheets/layout.scss';
@use '../stylesheets/borders.scss';

.dropdownMenu {
  position: absolute;
  border: borders.$default-border;

  list-style: none;

  background-color: colours.colour(white);
  animation: in 0.3s ;
  
  
  
  &:global(.clicked) {
    display: none;
  }
}

@keyframes in {
  0% {opacity: 0 ; }
  100% {opacity: 1; }
}



.drowdownItem {
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    &.yellow {
      background-color: colours.colour(yellow)
    }

    &.peach {
      background-color: colours.colour(peach)
    }

    &.blue {
      background-color: colours.colour(blue)
    }

    &.green {
      background-color: colours.colour(green)
    }
  }
}

.dropdownLink {
  display: inline-flex;
  flex-direction: column;
  font-weight: typography.font-weight(normal);
  padding: layout.space(medium);
  transition: text-shadow 0.4s ease-in-out;

  //https://stackoverflow.com/questions/16629725/font-weight-css-transition-in-chrome
  &:hover {
    text-shadow:
      -0.1px -0.1px 0 colours.colour(black),
      0.1px -0.1px 0 colours.colour(black),
      -0.1px 0.1px 0 colours.colour(black),
      0.1px 0.1px 0 colours.colour(black);
  }
}