@use '../stylesheets/layout.scss';

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: layout.space(small);
  backdrop-filter: blur(10px);
  overflow-y: scroll;

  @include layout.tablet {
    padding: layout.space(extra-large);
  }
}

.close {
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.controls {
  display: flex;
  justify-content: right;
  margin-bottom: layout.space(tiny);

  @include layout.tablet {
    margin-bottom: layout.space(medium);
  }
}

.modal {
  max-width: 900px;
  margin: 0 auto;
}

