@use '../stylesheets/layout.scss';

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: layout.space(extra-large);
  backdrop-filter: blur(10px);
}

.close {
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.controls {
  display: flex;
  justify-content: right;
  margin-bottom: layout.space(medium);
}

.modal {
  max-width: 1000px;
  margin: 0 auto;
}

