@use '../stylesheets/colours.scss';
@use '../stylesheets/typography.scss';
@use '../stylesheets/layout.scss';
@use '../stylesheets/borders.scss';


.wrapper {
  margin-top: layout.space(large);
}

.container {
  margin-bottom: layout.space(large);

  &.yellow {
    border: borders.$default-border;
  }
  
  &.peach {
    border: borders.$peach-border;
  }
  
  &.blue {
    border: borders.$blue-border;
  }

  &.green {
    border: borders.$green-border;
  }
}

.title {
  @include typography.font(sub-heading, typography.$header-font, sub-heading, semi-bold);
  padding: layout.space(medium-large);

  &.yellow {
    background: colours.colour(yellow);
  }
  
  &.peach {
    background: colours.colour(peach);
  }
  
  &.blue {
    background: colours.colour(blue);
  }

  &.green {
    background: colours.colour(green);
  }
}

.content {
  padding: layout.space(medium-large);;
}