@use '../stylesheets/typography.scss';
@use '../stylesheets/layout.scss';
@use '../stylesheets/colours.scss';

.container {
  display: grid;
  grid-template-columns: 1fr 30fr 1fr;
  gap: layout.space(large);
  justify-items: center;
  align-items: center;
  padding: 0 layout.space(tiny) 0 layout.space(tiny);

  @include layout.tablet {
    padding: 0;
  }

}

.videos {
  width: 100%;
  gap: layout.space(large);
  display: grid;
  grid-template-columns: 1fr;

  @include layout.tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include layout.large {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.pointer {
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.2);
  }
}
