:root {
    width: 100%;
    min-width: 500px;
    margin: 0;
    font-family: 'Noir Pro', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    background-color: #FCFBF7;
    color: #4F4F4F;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Noir Pro Medium', sans-serif;
}

h1 {
    font-size: 50px;
}

.text-md {
    font-size: 22px;
}

.text-lg {
    font-size: 28px;
}

.text-xl {
    font-size: 58px;
}

p {
    line-height: 40px;
}

.bold {
    font-family: 'Noir Pro Medium', sans-serif;
}

.btn {
    background-color: #FFEE93;
    padding: 1rem 2rem;
    font-family: 'Noir Pro', sans-serif;
    border: none;
    width: max-content;
    color: #4F4F4F;
}

.btn:hover {
    background-color: #fae684;
}

@font-face {
    font-family: 'Noir Pro';
    src: local('Noir Pro Regular'), local('Noir-Pro-Regular'),
    url('./fonts/NoirPro/NoirPro-Regular.woff2') format('woff2'),
    url('./fonts/NoirPro/NoirPro-Regular.woff') format('woff'),
    url('./fonts/NoirPro/NoirPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noir Pro Bold';
    src: local('Noir Pro Bold'), local('Noir-Pro-Bold'),
    url('./fonts/NoirPro-Bold/NoirPro-Bold.woff2') format('woff2'),
    url('./fonts/NoirPro-Bold/NoirPro-Bold.woff') format('woff'),
    url('./fonts/NoirPro-Bold/NoirPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Noir Pro Medium';
    src: local('Noir Pro Medium'), local('Noir-Pro-Medium'),
    url('./fonts/NoirPro-Medium/NoirPro-Medium.woff2') format('woff2'),
    url('./fonts/NoirPro-Medium/NoirPro-Medium.woff') format('woff'),
    url('./fonts/NoirPro-Medium/NoirPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}