:root {
    width: 100%;
    min-width: 500px;
    margin: 0;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    background-color: #FCFBF7;
}

@font-face {
    font-family: 'Noir Pro';
    src: local('Noir Pro Regular'), local('Noir-Pro-Regular'),
    url('./fonts/NoirPro/NoirPro-Regular.woff2') format('woff2'),
    url('./fonts/NoirPro/NoirPro-Regular.woff') format('woff'),
    url('./fonts/NoirPro/NoirPro-Regular.ttf') format('truetype');
    font-weight: 400;

    font-style: normal;
}

@font-face {
    font-family: 'Noir Pro Bold';
    src: local('Noir Pro Bold'), local('Noir-Pro-Bold'),
    url('./fonts/NoirPro-Bold/NoirPro-Bold.woff2') format('woff2'),
    url('./fonts/NoirPro-Bold/NoirPro-Bold.woff') format('woff'),
    url('./fonts/NoirPro-Bold/NoirPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Noir Pro Medium';
    src: local('Noir Pro Medium'), local('Noir-Pro-Medium'),
    url('./fonts/NoirPro-Medium/NoirPro-Medium.woff2') format('woff2'),
    url('./fonts/NoirPro-Medium/NoirPro-Medium.woff') format('woff'),
    url('./fonts/NoirPro-Medium/NoirPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}