@use '../stylesheets/typography.scss';
@use '../stylesheets/layout.scss';
@use '../stylesheets/colours.scss';


.container {
  display: flex;
  flex-direction: column;
  max-width: layout.$max-width;
  padding: layout.space(large) 0 layout.space(large) 0;
  margin: layout.space(massive) auto;

  &.yellow {
    background-color: colours.colour(yellow)
  }

  &.peach {
    background-color: colours.colour(peach)
  }

  &.blue {
    background-color: colours.colour(blue)
  }

  &.green {
    background-color: colours.colour(green)
  }
}

.wide {
  max-width: 100%;
}

.center {
  align-items: center;
}

.row {
  flex-direction: row;
  gap: layout.space(massive);
}
