@use '../stylesheets/typography.scss';
@use '../stylesheets/layout.scss';
@use '../stylesheets/colours.scss';


.container {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - (2 * layout.space(small-medium)));
  margin: layout.space(large) layout.space(small-medium);

  &.yellow {
    background-color: colours.colour(yellow)
  }

  &.peach {
    background-color: colours.colour(peach)
  }

  &.blue {
    background-color: colours.colour(blue)
  }

  &.green {
    background-color: colours.colour(green)
  }

  @include layout.phone {
    margin: layout.space(massive) layout.space(small-medium);
  }

  @include layout.large {
    max-width: 90%;
    margin: layout.space(massive) auto;
  }

  @include layout.desktop {
    width: 90%;
    max-width: layout.$max-width;
  }
}

.wide {
  width: 100%;
  max-width: 100%;
  padding: layout.space(medium-large);
  margin: layout.space(large) auto;

  @include layout.phone {
    padding: layout.space(large);
    margin: layout.space(extra-large) auto;
  }

  @include layout.tablet {
    padding: layout.space(massive);
    margin: layout.space(massive) auto;
  }
}

.carousel {
  padding-left: 0;
  padding-right: 0;
}

.center {
  align-items: center;
}

.row {
  flex-direction: column;
  gap: layout.space(small);

  @include layout.large {
    flex-direction: row;
    gap: layout.space(massive);
  }
}
