@use '../stylesheets/typography.scss';
@use '../stylesheets/layout.scss';

.container {
  display: flex;
  flex-direction: column;
  max-width: layout.$max-width;

  margin: layout.space(massive) auto;
}

.center {
  align-items: center;
}

.row {
  flex-direction: row;
  gap: layout.space(massive);
}
