@use '../stylesheets/colours.scss';
@use '../stylesheets/typography.scss';
@use '../stylesheets/layout.scss';

.footer {
  @include typography.font(tiny, typography.$header-font);

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;

  padding: layout.space(medium);

  background: colours.colour(blue);

  & p:last-child {
    margin-bottom: 0;
  }

  @include layout.tablet {
    padding: layout.space(medium-large);
  }

  @include layout.large {
    padding: layout.space(medium-large) 5%;
  }

  @include layout.desktop {
    padding: layout.space(medium-large) layout.space(massive);
  }
}

.illumine {
  & img {
    max-height: layout.space(15);
    max-width: 100%;
    padding-bottom: layout.space(medium);
  }
}

.title {
  @include typography.font(small, typography.$header-font, small, semi-bold);
}

.copyright {
  @include typography.font(minuscule, typography.$header-font);

  @include layout.phone {
    @include typography.font(tiny, typography.$header-font);
  }
}