@use '../stylesheets/colours.scss';
@use '../stylesheets/typography.scss';
@use '../stylesheets/layout.scss';

.footer {
  @include typography.font(tiny);

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;

  padding: layout.space(medium-large) layout.space(massive) layout.space(extra-large);

  background: colours.colour(blue);

  & p:last-child {
    margin-bottom: 0;
  }
}

.title {
  @include typography.font(small, typography.$header-font, small, semi-bold);
}