@use '../stylesheets/colours.scss';
@use '../stylesheets/typography.scss';
@use '../stylesheets/layout.scss';

.navbar {
  @include typography.font(small, typography.$header-font, small, semi-bold);
  background: colours.colour(white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

  margin: layout.space(small-medium);

  @include layout.phone {
    @include typography.font(sub-heading, typography.$header-font, sub-heading, semi-bold);
    margin-top: layout.space(extra-large);
  }

  @include layout.large {
    @include typography.font(small, typography.$header-font, small, semi-bold);
    width: 90%;
    margin: layout.space(extra-large) auto layout.space(massive);
  }

  @include layout.desktop {
    max-width: 100%;
    margin: layout.space(extra-large) layout.space(massive) layout.space(massive);
  }
}

// Open-Close animation from: https://codepen.io/shieldsma91/pen/zLpbLX

.navMenu {
  display: flex;
  flex-direction: column;
  gap: layout.space(large);

  position: absolute;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;
  overflow-x: scroll;

  padding: layout.space(massive) layout.space(small) layout.space(small);

  background-color: colours.colour(white);

  list-style: none;
  text-align: center;

  z-index: 1001;

  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

  @include layout.phone {
    padding-top: layout.space(36);
    gap: layout.space(massive);
  }

  @include layout.tablet {
    width: 60%;
  }

  @include layout.large {
    display: flex;
    align-items: center;
    position: unset;
    flex-direction: row;
    width: auto;
    height: auto;
    border-left: none;
    padding: initial;
    gap: initial;
    overflow-x: initial;
    background-color: initial;
    text-align: initial;
    z-index: initial;

    transform: none;
  }
}

.navOpen {
  transform: none;

  @include layout.tablet {
    border-left: 1px solid colours.colour(black);
    box-shadow: 0 0 layout.space(small) colours.colour(black);
  }

  @include layout.large {
    border-left: none;
    box-shadow: none;
  }
}

// Burger animation from: https://codepen.io/designcouch/pen/ExvwPY

.burgerMenu {
  position: relative;
  cursor: pointer;
  z-index: 1002;
  display: block;

  width: layout.space(4.5);
  height: layout.space(4.5);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;

  @include layout.phone {
    width: layout.space(6.25);
    height: layout.space(6.25);
  }

  & span {
    display: block;
    position: absolute;
    height: layout.space(.75);
    width: 100%;
    background: colours.colour(black);
    border-radius: layout.space(tiny);
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;

    @include layout.phone {
      height: layout.space(1);
    }

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2), &:nth-child(3) {
      top: layout.space(1.5);

      @include layout.phone {
        top: layout.space(2);
      }
    }

    &:nth-child(4) {
      top: layout.space(3);

      @include layout.phone {
        top: layout.space(4);
      }
    }
  }

  &.open {
    & span {
      &:nth-child(1) {
        top: layout.space(1.5);
        width: 0%;
        left: 50%;

        @include layout.phone {
          top: layout.space(2);
        }
      }
  
      &:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
  
      &:nth-child(4) {
        top: layout.space(1.5);
        width: 0%;
        left: 50%;

        @include layout.phone {
          top: layout.space(2);
        }
      }
    }
  }

  @include layout.large {
    display: none;
  }
}

.navLink {
  margin: 0 layout.space(small);
  padding: layout.space(small);
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    background: colours.colour(yellow);
  }
}

.navLogo {
  margin: 0;
}

.dropdownNav {
  text-align: center;

  & > :global(.strategies) {
    cursor: initial;
  }

  @include layout.large {
    position: relative;
    margin: 0 layout.space(small);
    text-align: initial;
    transition: all 0.3s ease-in-out;  

    &:hover {
      background: colours.colour(yellow);
    }

    & > :global(.strategies) {
        margin: 0;
        cursor: pointer;
    }
  }
}

.langDropdownNav {
  position: relative;
  margin: 0 layout.space(small);
  transition: all 0.3s ease-in-out;  

  &:hover {
    background: colours.colour(yellow);
  }
}