@use '../stylesheets/colours.scss';
@use '../stylesheets/typography.scss';
@use '../stylesheets/layout.scss';

.navbar {
  @include typography.font(small, typography.$header-font, small, semi-bold);
  background: colours.colour(white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

  margin: layout.space(small-medium);

  @include layout.phone {
    @include typography.font(sub-heading, typography.$header-font, sub-heading, semi-bold);
    margin-top: layout.space(extra-large);
  }

  @include layout.large {
    @include typography.font(small, typography.$header-font, small, semi-bold);
    width: 90%;
    margin: layout.space(extra-large) auto layout.space(massive);
  }

  @include layout.desktop {
    max-width: 100%;
    margin: layout.space(extra-large) layout.space(massive) layout.space(massive);
  }
}

.navMenu {
  display: none;
  align-items: center;
  list-style: none;

  @include layout.large {
    display: flex;
  }
}

.navOpen {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: colours.colour(white);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  padding: layout.space(massive) layout.space(small) layout.space(small);
  gap: layout.space(large);
  overflow-x: scroll;

  @include layout.phone {
    padding-top: layout.space(36);
    gap: layout.space(massive);
  }

  @include layout.tablet {
    width: 60%;
    border-left: 1px solid colours.colour(black);
  }

  @include layout.large {
    position: unset;
    flex-direction: row;
    width: auto;
    height: auto;
    border-left: none;
    padding: initial;
    gap: initial;
    overflow-x: initial;
  }
}

.burgerMenu {
  position: relative;
  cursor: pointer;
  z-index: 1002;
  display: block;

  @include layout.large {
    display: none;
  }
}

.fixed {
  position: fixed;
  top: layout.space(small-medium);
  right: layout.space(small-medium);
}

.navLink {
  margin: 0 layout.space(small);
  padding: layout.space(small);
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    background: colours.colour(yellow);
  }
}

.navLogo {
  margin: 0;
}

.dropdownNav {
  text-align: center;

  & > :global(.strategies) {
    cursor: initial;
  }

  @include layout.large {
    position: relative;
    margin: 0 layout.space(small);
    text-align: initial;
    transition: all 0.3s ease-in-out;  

    &:hover {
      background: colours.colour(yellow);
    }

    & > :global(.strategies) {
        margin: 0;
        cursor: pointer;
    }
  }
}

.langDropdownNav {
  position: relative;
  margin: 0 layout.space(small);
  transition: all 0.3s ease-in-out;  

  &:hover {
    background: colours.colour(yellow);
  }
}